.list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
	}

.list-item img {
		margin-right: 40px;
	}
	
img {
		display: block;
		height: 200px;
		width: 400px;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}